body { margin: 0; padding: 0;  font: 14px Arial; }
#content { width: 650px; margin: 0 auto; }
a { color: #6699ff; text-decoration: none; }
.title { margin: 20px 0 0 0; display: block; font-size: 24px; }
.description { margin: 0 20px; }